header {
  color: red;
  text-align: center;
  background-color: rgb(16, 22, 71);
  padding: 20px;
}

nav .search {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#cityblock {
  border: solid;
  border-width: thin;
  border-color: rgb(219, 219, 219);
  border-radius: 5px;
  margin: 15px;
}

h3 {
  text-align: center;
}

.card {
  margin-left: 15px;
  color: white;
}

h5 {
  font-weight: bold;
}
